{%extends 'base.html'%}

{%block content%}
<p>{{movies|length}} Titles</p>
<form method="post">
    名称 <input type="text" name="title" autocomplete="off" required>
    年份 <input type="text" name="year" autocomplete="off" required>
    <input type="submit" class="btn" name="submit" value="Add">
</form>
<ul class="movie-list">
    {% for movie in movies%}
        <li>{{movie.title}} - {{movie.year}}
            <span class="float-right">
                <a href="{{url_for('edit', movie_id=movie.id)}}" class="btn">编辑</a>
                <form action="{{url_for('delete', movie_id=movie.id)}}" method="post" class="inline-form">
                    <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
                </form>
                <a class="douban" href="https://movie.douban.com/subject_search?search_text={{ movie.title }}" target="_blank" title="Find this movie on douban">豆瓣</a>
            </span>
        </li>
    {%endfor%}
</ul>
<img src="{{url_for('static', filename='images/totoro.gif')}}" alt="Walking Totoro" class="totoro">
{%endblock%}